{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "camelcase": [1],
    "curly": [1],
    "eqeqeq": [1],
    "indent": [2, 2],
    "quotes": [2, "single", "avoid-escape"],
    "eol-last": [1],
    "no-mixed-requires": [1],
    "no-mixed-spaces-and-tabs": [1],
    "no-multi-spaces": [0],
    "no-trailing-spaces": [1],
    "no-unused-vars": [1]
  }
}